name: Compile Release

on: 
  release:
    types: [created]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      working-directory: ./ultimate_tex
      run: cargo build --release
    - name: Set Icon
      run: |
        curl.exe -sSL "https://github.com/electron/rcedit/releases/download/v2.0.0/rcedit-x64.exe" -o rcedit.exe
        .\rcedit.exe target/release/ultimate_tex.exe --set-icon ultimate_tex/icons/icon.ico
    - name: Create Zip
      run: Compress-Archive -path target/release/ultimate_tex.exe -destinationPath ultimate_tex_win_x64.zip
    - name: Upload Zip
      uses: actions/upload-artifact@v4
      with:
        name: ultimate_tex_win_x64
        path: ultimate_tex_win_x64.zip
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ultimate_tex_win_x64.zip
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64-apple-darwin]
        desc: [intel]
        include:
          - target: aarch64-apple-darwin
            desc: apple_silicon
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust Toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{matrix.target}}
    - name: Install dioxus-cli
      run: |
        url="https://github.com/DioxusLabs/dioxus/releases/download/v0.7.1/dx-${{matrix.target}}.tar.gz"
        mkdir dioxus-cli
        curl -sSL $url | tar -xz --directory=./dioxus-cli
        echo `pwd`/dioxus-cli >> $GITHUB_PATH
    - name: Bundle
      working-directory: ./ultimate_tex
      run: dx bundle --release --package-types macos --target ${{matrix.target}}
    - name: Create Zip
      run: |
        cp -r target/dx/ultimate_tex/bundle/macos/bundle/macos/UltimateTex.app ultimate_tex.app
        zip -r ultimate_tex_macos_${{matrix.desc}}.zip ultimate_tex.app
    - name: Upload Zip
      uses: actions/upload-artifact@v4
      with:
        name: ultimate_tex_macos_${{matrix.desc}}
        path: ultimate_tex_macos_${{matrix.desc}}.zip
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ultimate_tex_macos_${{matrix.desc}}.zip
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build-linux:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Install Ubuntu Dependencies
      run: |
        sudo apt update
        sudo apt install libwebkit2gtk-4.1-dev \
          build-essential \
          curl \
          wget \
          file \
          libxdo-dev \
          libssl-dev \
          libayatana-appindicator3-dev \
          librsvg2-dev
    - uses: cargo-bins/cargo-binstall@main
    - name: Install dioxus-cli
      run: cargo binstall dioxus-cli --version 0.7.1
    - name: Build
      working-directory: ./ultimate_tex
      run: cargo rustc --release -- -C link-args=-lstdc++
    - name: Create Zip
      run: zip -j ultimate_tex_linux_x64.zip target/release/ultimate_tex
    - name: Upload Zip
      uses: actions/upload-artifact@v4
      with:
        name: ultimate_tex_linux_x64
        path: ultimate_tex_linux_x64.zip
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ultimate_tex_linux_x64.zip
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
